.app-header {
  background: black;
}

.header__inner {
  width: 100%;
  max-width: 1540px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 15px;
  box-sizing: border-box;
}

.header__logo {
  height: 60px;
}

.header-nav  {
  margin-left: auto;
}

.header-nav__item {
  display: flex;
  text-align:center;
}

.nav-item {
  font-size: 18px;
}

.nav-item a,
.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  margin: 0;
}
