.request-nav {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 30px 10px;
  border-bottom: 1px solid gray;
}

.request-link {
  text-decoration: none;
  color:gray;
  font-weight: bold;
  padding: 5px 20px;
}

.request-link.active-tab {
  color: #000;
  padding-bottom: 8px;
  text-decoration: none;
}

.index {
  font-weight: bold;
  color: black;
}