.request-nav {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
  border-bottom: 1px solid gray;
}

.request-link {
  text-decoration: none;
  color:gray;
  font-weight: bold;
  padding: 5px 20px;
}

.request-link.active {
  font-weight: 2px solid #000;
  padding-bottom: 8px;
}